 body, html {
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(57, 57, 57);
    color: white;
   /*
    display: grid;
    grid-template-columns: 75% 25%;
    grid-row-gap: 0px;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    */
}

.header_container_1{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 500px;
    width: 100%;
}

.header_container_1 .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgb(94, 94, 94, 100), rgb(94, 94, 94, 0));
  }


.header_image_1{
    position: relative;
    overflow: hidden;
}

/*

*/

.header_slider{
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.header_slider img{
    height: auto;
    width: 100%;
    
    object-fit: cover;
}

.header_image_2 img{
    height: 500px;
    width: auto;
    object-fit: cover;
}

.header_topband{
    position:absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: 120px;
    margin-right: 120px; 
}

.topband_content{
    position: relative;
    height: 50px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

.band_icon{
    height: 50px; 
    display: flex;                 
    align-items: center; 
}

.social_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social_icon:hover {
    background-color: #555;
    transform: scale(1.1);
}

.social_icon i {
}

.band_title{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

.band_title .band_title_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.band_title .band_title_line{
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: white;
}

.band_search{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
}

.band_search_input{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius:8px;
}

.band_search_button{
    margin-left: 5px;
    color: white;
    border: none;
    background-color:transparent;
    font-size: 16px;
}

.header_title{
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -10%) rotate(-20deg);
}

.header_title_text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: 900;
    color: rgb(204, 153, 51, 0.75);
    
}

/*--------------------------------------------------  nav ---------------------------------------------------------------------*/

nav{
    background-color: #5E5E5E;
    color: white;
    display: grid;
    grid-row-gap: 0px;
}

.navigation-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-item{
    position: relative;
    margin-top: 6px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.8s ease;
}

.navigation-item .border{
    position:absolute;
    background-color: white;
    transition: all 0.6s ease;
}

.navigation-item .top{
    top: 0;
    left: 50%;
    width: 0;
    height: 1px;
    transform: translateX(-50%);
}

.navigation-item .bottom{
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    transform: translateX(-50%);
}

.navigation-item .left{
    top: 50%;
    left: 0;
    width: 1px;
    height: 0;
    transform: translateY(-50%);
}

.navigation-item .right{
    top: 50%;
    right: 0;
    width: 1px;
    height: 0;
    transform: translateY(-50%);
}

.navigation-item a:hover .top,
.navigation-item a:hover .bottom {
    width: 100%;
}

.navigation-item a:hover .left,
.navigation-item a:hover .right {
    height: 100%;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
    text-decoration: none;
}

/*--------------------------------------------------  main  ---------------------------------------------------------------------*/

main{
    background-color: #5E5E5E;
}

.content_1{
    margin-left: 120px;
    margin-right: 120px;  
}

.main_container_1{
    display: grid;
    grid-template-columns: 40% 5% 50% 5%;
    height: 100%;
    width: 100%;
}

.content_1 img{
    height: 500px;
    width: auto;
    object-fit: cover;
}

.content_1 .poster{
    margin-left: 150px;
    margin-right: 40px;
    overflow: hidden;
}

.content_1 .textbox{
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    height: 320px;
    z-index: 1;
}


.content_1 .textbox .textframe {
    margin-left: 25px;
    margin-right: 25px;
    height: 50%;
    color: white;

}

.content_1 .textbox .textbox_button {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}


.content_1 .textbox .textbox_button{
    margin-top: 20px;
}

.content_1 .textbox .textbox_button .style_button{
    background-color: #cc9933;
    border:none;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 25px;
    border-radius: 4px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

footer{
    display: grid;
    background-color: #5E5E5E;
    color: white;
    grid-row-gap: 0px;
}

.footer_navigation{
    margin-left: 80px;
    margin-right: 80px;
    border-top: 1px solid rgb(150, 150, 150);
}

footer ul li a{
    color:white;
    text-decoration: none;
}